<div class="container home">
    <div class="row mt-5">
        <div class="col-md-6 d-flex justify-content-center ">
            <img src="assets/images/home.png" alt="home" width="300px" height="350px">
        </div>
        <div class="col-md-6 d-flex justify-content-center align-items-center">
            <h1 class="font-weight-bold">Validating your phone numbers has never been easier ! try it now!</h1>
        </div>
    </div>
    <div class="row d-flex justify-content-center align-items-center mt-5">
        <div class="card border shadow">
            <div class="card-body">
              <h5 class="card-title text-center">Mange Your Phone numbers</h5>
              <div class="d-flex justify-content-center align-items-center">
                <a routerLink="add" class="btn btn-danger mx-2">Add a phone number</a>
                <a routerLink="list" class="btn btn-success">Get phone numbers history</a>
              </div>
            </div>
        </div>
    </div>
</div>
